doctype html
html
  head
    
    block scripts
    // jquery
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    // 합쳐지고 최소화된 최신 CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    // 부가적인 테마
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css')
    // 합쳐지고 최소화된 최신 자바스크립트
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    
    style.
        nav {
            width: 1159px;
            min-width: 1159px;
            margin: 0px 230px 0px 0px;
            height: 32px;
        }
        li.disabled{
        pointer-events: none;
        }
  body
    nav
        a(href='/') 홈
        a(href='/board') 게시판
    block content